* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 100vh;
 	background: url(images/1.png);
 	background-size: cover;
 	background-position: center;
	position: relative;

}

.nav-header-fixed {
	width: 100%;
	position: fixed;
	z-index: 2;

}
.nav-height-second-page{
	min-height: 140px;
}

/*gradient*/
.nav-background-gradient {
	background: rgba(222,219,222,1);
	background: -moz-linear-gradient(top, rgba(222,219,222,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,219,222,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(222,219,222,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(222,219,222,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(222,219,222,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(222,219,222,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedbde', endColorstr='#ffffff', GradientType=0 );
	min-height: 140px;
/*and gradient*/
	}
.nav-wrapper li {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 95px;
	font-family: 'Just Another Hand', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: right;
	color: #1197a3;
	display: inline-block;
	padding: 0px 23px;
}

/*для менюшки hover */
.nav-wrapper li:active, .nav-wrapper li:hover, header li:visited {
	color: white;
	-webkit-text-stroke: 0.1px grey;

	cursor: pointer;
}
.nav-wrapper i:active, .nav-wrapper i:hover,header i:visited{
	color: #808080;
}

img {
	width: 100%;
}
.products-page-img img{
	height: 150px;
	margin-top: 15px;
}
.products-page-p p, .products-page-p li {
	margin: 10px auto;
}
.products-page-p li{
	margin:15px 0px 20px 30px;
	
}
.price-button {
	margin-top: 20px;
}
.products-page {
	padding:175px 0px 50px;
}
.nav-wrapper img{
	width: 150px;
}	
.img-logo {
	display: inline-block;
	height: 125px;
	width: 200px;
	background: url(images/method-hover.svg) no-repeat;
}	 
.img-logo:hover, .img-logo:active{
	background: url(images/170.130.svg) no-repeat;
	cursor: pointer;
}
.strelka {
	display: inline-block;
	text-align: center;
	width: 117px;
	height: 20px;
	background: url(images/strelka-hover.svg) no-repeat;
	position: relative;
	top: 94vh;
}
.strelka:hover, .strelka:active{
	background: url(images/strelka.svg) no-repeat;
	cursor: pointer;
}
.filter {

	padding: 30px 20px;
	min-height: 50px;
	
}

.filter-check-mark{
	padding-left: 70px;
}	
.products,.basket-page,.shipping-and-payment-page,.about-us-page  {
	padding-top: 150px; 
}
.basket-page h5 {
	text-align: center;
	margin: 30px auto 20px;
}
.basket-page button{
	margin:30px auto;
}
/*для таблицы*/
.bot{
	padding: 2px 8px;
	font-weight: bold;
}

}
.font-size-check-mark,.button-see-all-products {
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Just Another Hand', cursive;
	letter-spacing: 2px;
}
[type="checkbox"]:checked+label:before{
	border-right: 2px solid #1197a3;
	border-bottom: 2px solid #1197a3;
}
.button-see-all-products {
	background: #ccd2d3;
	color: #ffffff;
	padding: 5px 20px;
	border: none;
	float: right;
}
.button-see-all-products:hover,active {
	background: #1197a3;
}
.hover-color {
	background: #ccd2d3;
}
.hover-color:hover {
	background: #1197a3;
}
.clearfix:after {
	content:'';
	display: block;
	clear: both; 
}

.products-card-one img {
	width: 100%;

	
}
.products-card-one {
	padding: 15px;
	font-size: 19px;
	margin-bottom: 25px;
}
.products-card-one:hover {
	box-shadow: 0px 10px 33px -5px rgba(0,0,0,0.75);
}

.products hr {
	margin: 30px 0px;
} 

.price {
	display: inline-block;
	font-weight: bold;
	color: #1197a3;
}
.price-block {
	border-top: 1px solid #ccd2d3;
	padding-top: 10px;
	margin-top: 10px;
}
.products .l1 h4 {
	text-transform: uppercase;
	font-size: 20px;
    text-transform: uppercase;
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 2px;
}
.products-page-p h4{
	margin: 0px auto 30px;
}
.products-page-p h5 {
	margin: 0;
}
.chevron-hover:hover{
	color: #1197a3;
	cursor: pointer;
}
.fs-and-inst-mar {
	margin-right: 10px;
	margin-top: 10px;
}
.hover:hover,.hover:visited,.hover:active {
	color: #1197a3;
	cursor: pointer;
}
.shipping-and-payment-page h5{
	min-height: 120px;
}
.magrin-top {
	margin-top: 50px;
}

.circle {
	width: 120px;
	height: 120px;
	line-height: 160px;
	color: white;
	background: #e6e6e6;
	border-radius: 60px;
	margin:0px auto;
	position: relative;
}
.circle i:hover {
	color: #1197a3; 
	cursor: pointer;
}

.images-delivery-man{
	position: relative;
	top: 18%;
	left: 14%;
	height: 85px;
	background: url(images/home-delivery-of-goods.svg) no-repeat;
}
.images-delivery-man:hover{
	background: url(images/home-delivery-of-goods-hover.svg) no-repeat;
	cursor: pointer;
}
.images-new-post {
	position: relative;
	top: 15%;
	left: 13%;
	height: 85px;
	background: url(images/new-post.svg) no-repeat;
}
.images-new-post:hover{
	background: url(images/new-post-hover.svg) no-repeat;
	cursor: pointer;
}
.images-ukr-post {
	position: relative;
	top: 20%;
	left: 12%;
	height: 85px;
	background: url(images/ukr-post.svg) no-repeat;
}
.images-ukr-post:hover{
	background: url(images/ukr-post-hover.svg) no-repeat;
	cursor: pointer;
}
.images-free-post {
	position: relative;
	top: 20%;
	left: 12%;
	height: 85px;
	background: url(images/free-post.svg) no-repeat;
}
.images-free-post:hover{
	background: url(images/free-post-hover.svg) no-repeat;
	cursor: pointer;
}
.images-cash {
	position: relative;
	top: 20%;
	left: 12%;
	height: 85px;
	background: url(images/cash.svg) no-repeat;
}
.images-cash:hover{
	background: url(images/cash-hover.svg) no-repeat;
	cursor: pointer;
}
.images-credit-card {
	position: relative;
	top: 20%;
	left: 12%;
	height: 85px;
	background: url(images/credit-card.svg) no-repeat;
}
.images-credit-card:hover{
	background: url(images/credit-card-hover.svg) no-repeat;
	cursor: pointer;
}

.images-receipt-card {
	position: relative;
	top: 20%;
	left: 12%;
	height: 85px;
	width: 90px;
	background: url(images/receipt.svg) no-repeat;
}
.images-receipt-card:hover{
	background: url(images/receipt-hover.svg) no-repeat;
	cursor: pointer;

}

.bold {
	font-weight: bold;
}
.note-ship-on-and-pay-page li{
	list-style-type: disc !important;
	margin-bottom: 10px;
}
.note-ship-on-and-pay-page{
	margin:15px 50px 40px;
}
.margin-h6 {
	margin-top: 130px;
}
.about-us-block {
	border: 1px solid grey;
	margin: 50px auto;
	/*box-shadow: 0px 0px 31px 3px rgba(199,199,199,1);*/
	text-align: center;
	width: 50%;
	padding: 50px 70px;
	position: relative;
	
 	background: rgba(255, 255, 255, 0); 
}
.about-us-block p{
	margin-bottom: 20px;

}
.about-us-block-color {
	background: #e1f5f6;
	padding:25px 0px;
	

}	
.about-us-text {
	position: absolute;
	top: -26px;
	left: 44%;
	padding: 10px;
	background:#e1f5f6;
	font-size: 20px;
}
#hint-block {
	padding: 10px 15px;
	min-height: 50px;
	width: 400px;
	background:rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 37px 2px rgba(184,184,184,1);
	position: absolute;
	z-index: 2;
	top: 70px;
	left: 60px;
	line-height: 25px;
	color: black;
	display: none;
}